<template>
  <div>
    <section class="hero is-success is-small">
      <div class="hero-body">
        <div class="container">
          <h1 class="title">
            Manager Dashboard
          </h1>
        </div>
      </div>
    </section>
    <section class="section">
      <p class="title">Customer Issues</p>
      <div class="columns">
        <div class="column">
          <doughnut
            :series="currentCustomerIssues"
            :options="{responsive: false, maintainAspectRatio: false}"
            :width="400"
            :height="200">
          </doughnut>
        </div>
        <div class="column">
          <line-chart
            :series="customerIssues"
            :options="{responsive: false, maintainAspectRatio: false}"
            :width="400"
            :height="200">
          </line-chart>
        </div>
      </div>
      <p class="title">Staff Issues</p>
      <div class="columns">
        <div class="column">
          <line-chart
            :series="staffIssues"
            :options="{responsive: false, maintainAspectRatio: false}"
            :width="400"
            :height="200">
          </line-chart>
        </div>
        <div class="column">
          <doughnut
            :series="currentStaffIssues"
            :options="{responsive: false, maintainAspectRatio: false}"
            :width="400"
            :height="200">
          </doughnut>
        </div>
      </div>
    </section>
  </div>
</template>

<script>
import LineChart from '@/components/LineChart'
import Doughnut from '@/components/Doughnut'
import io from 'socket.io-client'
export default {
  data () {
    return {
    }
  },
  computed: {
    currentCustomerIssues () {
      return this.$store.state.CurrentCustomerIssues
    },
    currentStaffIssues () {
      return this.$store.state.CurrentStaffIssues
    },
    customerIssues () {
      return this.$store.state.CustomerIssues
    },
    staffIssues () {
      return this.$store.state.StaffIssues
    }
  },
  created () {
    this.$store.dispatch('FETCH_ALL')
  },
  mounted () {
    setTimeout(() => {
      document.location.reload(true)
    }, 5000)
    // const socket = io.connect('http://localhost:3001')
    // this.socket = socket
    //
    // socket.on('connect', () => {
    //   socket.on('upd', msg => {
    //     console.log(msg.series)
    //     this.$store.commit('UPD_TIMELINE', msg.series)
    //     this.$store.dispatch('UPD')
    //   })
    // })

  },
  components: {
    LineChart,
    Doughnut
  }
}
</script>
